
= semantic_nested_form_for [:admin, @state] do |f|
  = f.inputs "details" do
    =  f.input :state_type, collection: ["one", "three"]

  = f.link_to_add "Add Slide", :slides  
  = f.semantic_fields_for :slides do |slide|
    = f.inputs "slides" do
      = slide.input :position
      = slide.input :slide_type, as: :radio, collection: ['Blank','Title','Detail']
      .four
        = slide.input :text
        = slide.input :text
        = slide.input :text
        = slide.input :text
        = slide.input :text
      .title  
        = slide.input :text
      = slide.input :background_file, as: :file
      = slide.input :retained_background_file, as: :hidden
      = slide.input :remove_background_file, as: :boolean
      = slide.input :background_file_url

      - if slide.object.background_file_uid
        = link_to "Download #{slide.object.background_file.name}", slide.object.background_file.remote_url
      = slide.link_to_remove "Delete"
  = f.actions do 
    =  f.action :submit

:javascript
  $( ".choices-group" ).on( "click", function() {
    console.log('test');
    //$( "#log" ).html( $("input:checked").val() + " is checked!" );
  });