
= semantic_nested_form_for [:admin, @state] do |f|
  = f.inputs "details" do
    = f.input :state_type, collection: ["one", "three"]
    = f.input :background_color, as: :radio, collection: [nil, 'yellow','blue','red'],
      hint: 'Can be overriden by slides',
      wrapper_html: {class: 'horizontal'},
      input_html: {class: 'horizontal'}

  = f.link_to_add "Add Slide", :slides  
  = f.semantic_fields_for :slides do |slide|
    = f.inputs "slides" do
      = slide.input :position
      = slide.inputs "Text" do
        = slide.input :slide_type, as: :radio, collection: ['Blank','Title','Detail'], wrapper_html: {class: 'text_section'}
        .four
          = slide.input :text
          = slide.input :text
          = slide.input :text
          = slide.input :text
          = slide.input :text
        .title  
          = slide.input :text
          = slide.input :text
        
      = slide.inputs "Background" do
        = slide.input :background_file, as: :file
        = slide.input :retained_background_file, as: :hidden
        = slide.input :remove_background_file, as: :boolean
        = slide.input :background_file_url
  
        - if slide.object.background_file_uid
          = link_to "Download #{slide.object.background_file.name}", slide.object.background_file.remote_url
      = slide.link_to_remove "Delete"
  = f.actions do 
    =  f.action :submit

:javascript

  
  $( document ).on( "click",'.text_section', function() {
    console.log();
    var type = $(this).find("input:checked").val()
    if(type === "Title"){
      $(this).parent().find('.four').css('display','none');
      $(this).parent().find('.title').css('display','block');
    }else if(type === "Detail"){
      $(this).parent().find('.title').css('display','none');
      $(this).parent().find('.four').css('display','block');
    }else if(type === "Blank"){
      $(this).parent().find('.title').css('display','none');
      $(this).parent().find('.four').css('display','none');
    }
  });
